#root {
  --main-colour: rgb(123, 190, 215);

  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* main {
  display: flex;
  flex-direction: column;
} */
.board {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--main-colour);
  border-radius: 6px;
  background-color: rgb(229, 248, 255);
  p {
    margin: 0px;
    padding: 0px;
  }
}
.row {
  display: flex;
  flex-direction: row;
}

.square {
  height: 60px;
  width: 60px;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.icon {
  font-size: 3rem;
}

.black {
  background-color: var(--main-colour);
}

.white {
  background: none;
}

.highlight {
  outline: 2px solid red;
}
